(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Aringbelow,
Astroke,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
"Beta-latin",
Bhook,
Bmacronbelow,
Bstroke,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
Cstroke,
D,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Eth,
E,
Eacute,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Esh,
Estroke,
Etilde,
Etildebelow,
Eturned,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Glottalstopsmall,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Hhook,
Hturned,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
Itildebelow,
J,
Jacute,
Jcircumflex,
Jcrossedtail,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
Lacute,
Lbar,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
M_gravecomb,
M_macroncomb,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
N_macroncomb,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Obarred,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
"Omega-latin",
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Pstroke,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
"Gamma-latin",
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ystroke,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Zstroke,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Eng.loclNSM,
E.ss01,
Eacute.ss01,
Ecaron.ss01,
Ecedilla.ss01,
Ecedillabreve.ss01,
Ecircumflex.ss01,
Ecircumflexacute.ss01,
Ecircumflexbelow.ss01,
Ecircumflexdotbelow.ss01,
Ecircumflexgrave.ss01,
Ecircumflexhookabove.ss01,
Ecircumflextilde.ss01,
Edblgrave.ss01,
Edieresis.ss01,
Edotaccent.ss01,
Edotbelow.ss01,
Egrave.ss01,
Ehookabove.ss01,
Einvertedbreve.ss01,
Emacron.ss01,
Emacronacute.ss01,
Emacrongrave.ss01,
Eogonek.ss01,
Estroke.ss01,
Etilde.ss01,
Etildebelow.ss01,
Q.ss02,
Q.ss03,
I_J.loclNLD,
Ismall,
Nsmall,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
"alpha-latin",
amacron,
aogonek,
aring,
aringbelow,
astroke,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
"beta-latin",
bhook,
bilabialclick,
bmacronbelow,
bstroke,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
"chi-latin",
chook,
creversed,
cstroke,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
dtail,
eth,
e,
eacute,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
esh,
estroke,
etilde,
etildebelow,
eturned,
schwa,
ezh,
ezhcaron,
ezhreversed,
f,
fdotaccent,
g,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalstop,
glottalstopreversed,
glottalstopsmall,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
heng,
hhook,
hmacronbelow,
hturned,
i,
idotless,
iacute,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
itildebelow,
ij,
j,
jdotless,
jacute,
jcaron,
jcircumflex,
jcrossedtail,
jstroke,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
khook,
kmacronbelow,
kstroke,
l,
lacute,
lambdastroke,
lbar,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
ldoublebar,
lmacronbelow,
lmiddletilde,
lslash,
m,
m_gravecomb,
m_macroncomb,
macute,
mdotaccent,
mdotbelow,
mturned,
n,
n_macroncomb,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nlongrightleg,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
"omega-latin",
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
ou,
oe,
p,
pacute,
pdotaccent,
phook,
thorn,
pstroke,
q,
qhooktail,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rinvertedbreve,
rmacronbelow,
rstroke,
rtail,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
sobliquestroke,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdiagonalstroke,
tdieresis,
tdotaccent,
tdotbelow,
thook,
tmacronbelow,
tretroflexhook,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vhook,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
whook,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ystroke,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
zstroke,
saltillo,
idotbelow.dotless,
iogonek.dotless,
istroke.dotless,
itildebelow.dotless,
jcrossedtail.dotless,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
vhook.loclTOD0,
ae.ss04,
aemacron.ss04,
a.ss05,
aacute.ss05,
abreve.ss05,
abreveacute.ss05,
abrevedotbelow.ss05,
abrevegrave.ss05,
abrevehookabove.ss05,
abrevetilde.ss05,
acaron.ss05,
acircumflex.ss05,
acircumflexacute.ss05,
acircumflexdotbelow.ss05,
acircumflexgrave.ss05,
acircumflexhookabove.ss05,
acircumflextilde.ss05,
adblgrave.ss05,
adieresis.ss05,
adieresismacron.ss05,
adotaccent.ss05,
adotbelow.ss05,
adotmacron.ss05,
agrave.ss05,
ahookabove.ss05,
ainvertedbreve.ss05,
amacron.ss05,
aogonek.ss05,
aring.ss05,
aringbelow.ss05,
astroke.ss05,
atilde.ss05,
vhook.loclTOD0.ss01,
f_i,
f_l,
fi,
fl,
i_j.loclNLD,
ordfeminine,
ordmasculine,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
hmod,
nmod,
wmod,
"ha-ethiopic",
"hu-ethiopic",
"hi-ethiopic",
"haa-ethiopic",
"hee-ethiopic",
"he-ethiopic",
"ho-ethiopic",
"hoa-ethiopic",
"la-ethiopic",
"lu-ethiopic",
"li-ethiopic",
"laa-ethiopic",
"lee-ethiopic",
"le-ethiopic",
"lo-ethiopic",
"lwa-ethiopic",
"hha-ethiopic",
"hhu-ethiopic",
"hhi-ethiopic",
"hhaa-ethiopic",
"hhee-ethiopic",
"hhe-ethiopic",
"hho-ethiopic",
"hhwa-ethiopic",
"ma-ethiopic",
"mu-ethiopic",
"mi-ethiopic",
"maa-ethiopic",
"mee-ethiopic",
"me-ethiopic",
"mo-ethiopic",
"mwa-ethiopic",
"sza-ethiopic",
"szu-ethiopic",
"szi-ethiopic",
"szaa-ethiopic",
"szee-ethiopic",
"sze-ethiopic",
"szo-ethiopic",
"szwa-ethiopic",
"ra-ethiopic",
"ru-ethiopic",
"ri-ethiopic",
"raa-ethiopic",
"ree-ethiopic",
"re-ethiopic",
"ro-ethiopic",
"rwa-ethiopic",
"sa-ethiopic",
"su-ethiopic",
"si-ethiopic",
"saa-ethiopic",
"see-ethiopic",
"se-ethiopic",
"so-ethiopic",
"swa-ethiopic",
"sha-ethiopic",
"shu-ethiopic",
"shi-ethiopic",
"shaa-ethiopic",
"shee-ethiopic",
"she-ethiopic",
"sho-ethiopic",
"shwa-ethiopic",
"qa-ethiopic",
"qu-ethiopic",
"qi-ethiopic",
"qaa-ethiopic",
"qee-ethiopic",
"qe-ethiopic",
"qo-ethiopic",
"qoa-ethiopic",
"qwa-ethiopic",
"qwi-ethiopic",
"qwaa-ethiopic",
"qwee-ethiopic",
"qwe-ethiopic",
"qha-ethiopic",
"qhu-ethiopic",
"qhi-ethiopic",
"qhaa-ethiopic",
"qhee-ethiopic",
"qhe-ethiopic",
"qho-ethiopic",
"qhwa-ethiopic",
"qhwi-ethiopic",
"qhwaa-ethiopic",
"qhwee-ethiopic",
"qhwe-ethiopic",
"ba-ethiopic",
"bu-ethiopic",
"bi-ethiopic",
"baa-ethiopic",
"bee-ethiopic",
"be-ethiopic",
"bo-ethiopic",
"bwa-ethiopic",
"va-ethiopic",
"vu-ethiopic",
"vi-ethiopic",
"vaa-ethiopic",
"vee-ethiopic",
"ve-ethiopic",
"vo-ethiopic",
"vwa-ethiopic",
"ta-ethiopic",
"tu-ethiopic",
"ti-ethiopic",
"taa-ethiopic",
"tee-ethiopic",
"te-ethiopic",
"to-ethiopic",
"twa-ethiopic",
"ca-ethiopic",
"cu-ethiopic",
"ci-ethiopic",
"caa-ethiopic",
"cee-ethiopic",
"ce-ethiopic",
"co-ethiopic",
"cwa-ethiopic",
"xa-ethiopic",
"xu-ethiopic",
"xi-ethiopic",
"xaa-ethiopic",
"xee-ethiopic",
"xe-ethiopic",
"xo-ethiopic",
"xoa-ethiopic",
"xwa-ethiopic",
"xwi-ethiopic",
"xwaa-ethiopic",
"xwee-ethiopic",
"xwe-ethiopic",
"na-ethiopic",
"nu-ethiopic",
"ni-ethiopic",
"naa-ethiopic",
"nee-ethiopic",
"ne-ethiopic",
"no-ethiopic",
"nwa-ethiopic",
"nya-ethiopic",
"nyu-ethiopic",
"nyi-ethiopic",
"nyaa-ethiopic",
"nyee-ethiopic",
"nye-ethiopic",
"nyo-ethiopic",
"nywa-ethiopic",
"aGlottal-ethiopic",
"uGlottal-ethiopic",
"iGlottal-ethiopic",
"aaGlottal-ethiopic",
"eeGlottal-ethiopic",
"eGlottal-ethiopic",
"oGlottal-ethiopic",
"waGlottal-ethiopic",
"ka-ethiopic",
"ku-ethiopic",
"ki-ethiopic",
"kaa-ethiopic",
"kee-ethiopic",
"ke-ethiopic",
"ko-ethiopic",
"koa-ethiopic",
"kwa-ethiopic",
"kwi-ethiopic",
"kwaa-ethiopic",
"kwee-ethiopic",
"kwe-ethiopic",
"kxa-ethiopic",
"kxu-ethiopic",
"kxi-ethiopic",
"kxaa-ethiopic",
"kxee-ethiopic",
"kxe-ethiopic",
"kxo-ethiopic",
"kxwa-ethiopic",
"kxwi-ethiopic",
"kxwaa-ethiopic",
"kxwee-ethiopic",
"kxwe-ethiopic",
"wa-ethiopic",
"wu-ethiopic",
"wi-ethiopic",
"waa-ethiopic",
"wee-ethiopic",
"we-ethiopic",
"wo-ethiopic",
"woa-ethiopic",
"aPharyngeal-ethiopic",
"uPharyngeal-ethiopic",
"iPharyngeal-ethiopic",
"aaPharyngeal-ethiopic",
"eePharyngeal-ethiopic",
"ePharyngeal-ethiopic",
"oPharyngeal-ethiopic",
"za-ethiopic",
"zu-ethiopic",
"zi-ethiopic",
"zaa-ethiopic",
"zee-ethiopic",
"ze-ethiopic",
"zo-ethiopic",
"zwa-ethiopic",
"zha-ethiopic",
"zhu-ethiopic",
"zhi-ethiopic",
"zhaa-ethiopic",
"zhee-ethiopic",
"zhe-ethiopic",
"zho-ethiopic",
"zhwa-ethiopic",
"ya-ethiopic",
"yu-ethiopic",
"yi-ethiopic",
"yaa-ethiopic",
"yee-ethiopic",
"ye-ethiopic",
"yo-ethiopic",
"yoa-ethiopic",
"da-ethiopic",
"du-ethiopic",
"di-ethiopic",
"daa-ethiopic",
"dee-ethiopic",
"de-ethiopic",
"do-ethiopic",
"dwa-ethiopic",
"dda-ethiopic",
"ddu-ethiopic",
"ddi-ethiopic",
"ddaa-ethiopic",
"ddee-ethiopic",
"dde-ethiopic",
"ddo-ethiopic",
"ddwa-ethiopic",
"ja-ethiopic",
"ju-ethiopic",
"ji-ethiopic",
"jaa-ethiopic",
"jee-ethiopic",
"je-ethiopic",
"jo-ethiopic",
"jwa-ethiopic",
"ga-ethiopic",
"gu-ethiopic",
"gi-ethiopic",
"gaa-ethiopic",
"gee-ethiopic",
"ge-ethiopic",
"go-ethiopic",
"goa-ethiopic",
"gwa-ethiopic",
"gwi-ethiopic",
"gwaa-ethiopic",
"gwee-ethiopic",
"gwe-ethiopic",
"gga-ethiopic",
"ggu-ethiopic",
"ggi-ethiopic",
"ggaa-ethiopic",
"ggee-ethiopic",
"gge-ethiopic",
"ggo-ethiopic",
"ggwaa-ethiopic",
"tha-ethiopic",
"thu-ethiopic",
"thi-ethiopic",
"thaa-ethiopic",
"thee-ethiopic",
"the-ethiopic",
"tho-ethiopic",
"thwa-ethiopic",
"cha-ethiopic",
"chu-ethiopic",
"chi-ethiopic",
"chaa-ethiopic",
"chee-ethiopic",
"che-ethiopic",
"cho-ethiopic",
"chwa-ethiopic",
"pha-ethiopic",
"phu-ethiopic",
"phi-ethiopic",
"phaa-ethiopic",
"phee-ethiopic",
"phe-ethiopic",
"pho-ethiopic",
"phwa-ethiopic",
"tsa-ethiopic",
"tsu-ethiopic",
"tsi-ethiopic",
"tsaa-ethiopic",
"tsee-ethiopic",
"tse-ethiopic",
"tso-ethiopic",
"tswa-ethiopic",
"tza-ethiopic",
"tzu-ethiopic",
"tzi-ethiopic",
"tzaa-ethiopic",
"tzee-ethiopic",
"tze-ethiopic",
"tzo-ethiopic",
"tzoa-ethiopic",
"fa-ethiopic",
"fu-ethiopic",
"fi-ethiopic",
"faa-ethiopic",
"fee-ethiopic",
"fe-ethiopic",
"fo-ethiopic",
"fwa-ethiopic",
"pa-ethiopic",
"pu-ethiopic",
"pi-ethiopic",
"paa-ethiopic",
"pee-ethiopic",
"pe-ethiopic",
"po-ethiopic",
"pwa-ethiopic",
"rya-ethiopic",
"mya-ethiopic",
"fya-ethiopic",
"mwaSebatbeit-ethiopic",
"mwi-ethiopic",
"mwee-ethiopic",
"mwe-ethiopic",
"bwaSebatbeit-ethiopic",
"bwi-ethiopic",
"bwee-ethiopic",
"bwe-ethiopic",
"fwaSebatbeit-ethiopic",
"fwi-ethiopic",
"fwee-ethiopic",
"fwe-ethiopic",
"pwaSebatbeit-ethiopic",
"pwi-ethiopic",
"pwee-ethiopic",
"pwe-ethiopic",
"loa-ethiopic",
"moa-ethiopic",
"roa-ethiopic",
"soa-ethiopic",
"shoa-ethiopic",
"boa-ethiopic",
"toa-ethiopic",
"coa-ethiopic",
"noa-ethiopic",
"nyoa-ethiopic",
"oaGlottal-ethiopic",
"zoa-ethiopic",
"doa-ethiopic",
"ddoa-ethiopic",
"joa-ethiopic",
"thoa-ethiopic",
"choa-ethiopic",
"phoa-ethiopic",
"poa-ethiopic",
"ggwa-ethiopic",
"ggwi-ethiopic",
"ggwee-ethiopic",
"ggwe-ethiopic",
"ssa-ethiopic",
"ssu-ethiopic",
"ssi-ethiopic",
"ssaa-ethiopic",
"ssee-ethiopic",
"sse-ethiopic",
"sso-ethiopic",
"cca-ethiopic",
"ccu-ethiopic",
"cci-ethiopic",
"ccaa-ethiopic",
"ccee-ethiopic",
"cce-ethiopic",
"cco-ethiopic",
"zza-ethiopic",
"zzu-ethiopic",
"zzi-ethiopic",
"zzaa-ethiopic",
"zzee-ethiopic",
"zze-ethiopic",
"zzo-ethiopic",
"ccha-ethiopic",
"cchu-ethiopic",
"cchi-ethiopic",
"cchaa-ethiopic",
"cchee-ethiopic",
"cche-ethiopic",
"ccho-ethiopic",
"qya-ethiopic",
"qyu-ethiopic",
"qyi-ethiopic",
"qyaa-ethiopic",
"qyee-ethiopic",
"qye-ethiopic",
"qyo-ethiopic",
"kya-ethiopic",
"kyu-ethiopic",
"kyi-ethiopic",
"kyaa-ethiopic",
"kyee-ethiopic",
"kye-ethiopic",
"kyo-ethiopic",
"xya-ethiopic",
"xyu-ethiopic",
"xyi-ethiopic",
"xyaa-ethiopic",
"xyee-ethiopic",
"xye-ethiopic",
"xyo-ethiopic",
"gya-ethiopic",
"gyu-ethiopic",
"gyi-ethiopic",
"gyaa-ethiopic",
"gyee-ethiopic",
"gye-ethiopic",
"gyo-ethiopic",
"tthu-ethiopic",
"tthi-ethiopic",
"tthaa-ethiopic",
"tthee-ethiopic",
"tthe-ethiopic",
"ttho-ethiopic",
"ddhu-ethiopic",
"ddhi-ethiopic",
"ddhaa-ethiopic",
"ddhee-ethiopic",
"ddhe-ethiopic",
"ddho-ethiopic",
"dzu-ethiopic",
"dzi-ethiopic",
"dzaa-ethiopic",
"dzee-ethiopic",
"dze-ethiopic",
"dzo-ethiopic",
"cchha-ethiopic",
"cchhu-ethiopic",
"cchhi-ethiopic",
"cchhaa-ethiopic",
"cchhee-ethiopic",
"cchhe-ethiopic",
"cchho-ethiopic",
"bba-ethiopic",
"bbu-ethiopic",
"bbi-ethiopic",
"bbaa-ethiopic",
"bbee-ethiopic",
"bbe-ethiopic",
"bbo-ethiopic",
"hhya-ethiopic",
"hhyu-ethiopic",
"hhyi-ethiopic",
"hhyaa-ethiopic",
"hhyee-ethiopic",
"hhye-ethiopic",
"hhyo-ethiopic",
"hhwi-ethiopic",
"hhwee-ethiopic",
"hhwe-ethiopic",
"hhwaGurage-ethiopic",
"mwiGurage-ethiopic",
"mweeGurage-ethiopic",
"qwiGurage-ethiopic",
"qweeGurage-ethiopic",
"qweGurage-ethiopic",
"bwiGurage-ethiopic",
"bweeGurage-ethiopic",
"kwiGurage-ethiopic",
"kweeGurage-ethiopic",
"kweGurage-ethiopic",
"gwiGurage-ethiopic",
"gweeGurage-ethiopic",
"gweGurage-ethiopic",
"fwiGurage-ethiopic",
"fweeGurage-ethiopic",
"pwiGurage-ethiopic",
"pweeGurage-ethiopic",
umod,
vmod,
zmod,
"one-ethiopic",
"two-ethiopic",
"three-ethiopic",
"four-ethiopic",
"five-ethiopic",
"six-ethiopic",
"seven-ethiopic",
"eight-ethiopic",
"nine-ethiopic",
"ten-ethiopic",
"twenty-ethiopic",
"thirty-ethiopic",
"forty-ethiopic",
"fifty-ethiopic",
"sixty-ethiopic",
"seventy-ethiopic",
"eighty-ethiopic",
"ninety-ethiopic",
"hundred-ethiopic",
"tenthousand-ethiopic",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
space_eth,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
narrownbspace,
"mediumspace-math",
.notdef,
"colon-ethiopic",
"comma-ethiopic",
"paragraphseparator-ethiopic",
"period-ethiopic",
"prefacecolon-ethiopic",
"question-ethiopic",
"sectionmark-ethiopic",
"semicolon-ethiopic",
"wordspace-ethiopic",
"colon-ethiopic.alt",
"comma-ethiopic.alt",
"paragraphseparator-ethiopic.alt",
"prefacecolon-ethiopic.alt",
"sectionmark-ethiopic.alt",
"semicolon-ethiopic.alt",
"wordspace-ethiopic.alt",
"colon-ethiopic.ss01",
"comma-ethiopic.ss01",
"paragraphseparator-ethiopic.ss01",
"prefacecolon-ethiopic.ss01",
"sectionmark-ethiopic.ss01",
"semicolon-ethiopic.ss01",
"wordspace-ethiopic.ss01",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
"chiret-ethiopic",
"deret-ethiopic",
"deretHidet-ethiopic",
"difat-ethiopic",
"hidet-ethiopic",
"kenat-ethiopic",
"kurt-ethiopic",
"rikrik-ethiopic",
"shortRikrik-ethiopic",
"yizet-ethiopic",
"rikrik-ethiopic.alt",
"shortRikrik-ethiopic.alt",
"yizet-ethiopic.alt",
"rikrik-ethiopic.ss01",
"yizet-ethiopic.ss01",
"shortRikrik-ethiopic.ss06",
baht,
colonmod,
doubleapostrophemod,
minusmod,
shortequalmod,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
estimated,
numero,
ampersand.001,
ampersand.003,
ampersand.004,
ampersand.005,
cedi,
cent,
currency,
dollar,
euro,
hryvnia,
kip,
naira,
ruble,
sterling,
yen,
hryvnia.ss01,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
dottedCircle,
lozenge,
rbelowcomb,
"geminVowellengthcomb-ethiopic",
"geminationcomb-ethiopic",
"vowellengthcomb-ethiopic",
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
verticallineabovecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
dotaboverightcomb,
acutemacroncomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
horncomb.case,
dotbelowcomb.case,
dieresisbelowcomb.case,
ringbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
circumflexbelowcomb.case,
brevebelowcomb.case,
breveinvertedbelowcomb.case,
tildebelowcomb.case,
macronbelowcomb.case,
gravecomb.narrow,
acutecomb.narrow,
circumflexcomb.narrow,
brevecomb.narrow,
tildecomb.narrow,
hookabovecomb.narrow,
horncomb.narrow,
tildecomb.narrow2,
tildecomb.narrow3,
dotbelowcomb.case.001,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commareversedmod,
commaturnedmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinemod,
uniA7AE,
uniA7B8,
uniA7B9,
NumberStep2,
capslash_part.,
"fullstop-ethiopic.alt",
"fullstop-ethiopic.ss01",
lcslash_part.,
lcvertStroke_part.,
"questionmark-ethiopic.alt",
"questionmark-ethiopic.ss01"
)