{
displayStrings = (
"/commaaccentcomb.case/Lcommaaccent.loclMAH",
"/Ncommaaccent.loclMAH",
M,
"Ǥ",
"oʽo",
"’ʼʽ",
"tẗ",
"ƷǮǯ",
"ﬁ",
"Ŧŧ",
"ɨ",
"ŧ",
"'ʹ",
"oˈo",
"̵",
"
nioid TEHMEDIV 
ሽንnitsid 
ሽንnixyid 
ሽንTEHAADIV 
ሽንTEHALDIV 
ሽንnirrid 
ሽንKoider 
ሽንDyider 
ሽንnixid 
ተኛnirxid 
ሜሪnittid 
ተኛnirxid 
ሪታTEHAWDIV 
ሪታTEHAWDIV 
TEHFODIV 
TEHRIDIV 
TEHIODIV 
nijsid 
niglid nijsid 
niglid nijsid 
Huider 
niepid 
ካለniepid 
ካለniepid 
nidid niepid 
ካለniepid ",
"/space_eth"
);
}
